<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package captchaId="Dapper" version="1.50.2" targetFramework="net452" />
  <package captchaId="log4net" version="2.0.3" targetFramework="net452" />
  <package captchaCaptchaId="log4net.Appender.Azure" version="1.4.3.0" targetFramework="net452" />
  <package captchaCaptchaId="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package captchaCaptchaId="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package captchaCaptchaId="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net452" />
  <package captchaCaptchaId="Microsoft.Data.Edm" version="5.6.4" targetFramework="net452" />
  <package captchaCaptchaId="Microsoft.Data.OData" version="5.6.4" targetFramework="net452" />
  <package captchaCaptchaId="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net452" />
  <package captchaCaptchaId="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net452" />
  <package captchaCaptchaId="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
  <package captchaCaptchaId="System.Spatial" version="5.6.4" targetFramework="net452" />
  <package captchaCaptchaId="WindowsAzure.Storage" version="6.1.0" targetFramework="net452" />
</packages>