<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="KalingoDb" connectionString="Data Source=.\SQL2016;Initial Catalog=KalingoDb;User Id=KalingoApiUser;Password=Kalingo1!" />-->
    <add name="KalingoDb" connectionString="Server=tcp:Kalingo.database.windows.net,1433;Initial Catalog=KalingoDb;Persist Security Info=False;User ID=KalingoAdmin;CountryCode=Kalingo2017;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
</configuration>