<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.0" targetFramework="net452" />
  <package id="Autofac.WebApi2" version="4.0.1" targetFramework="net452" />
  <package captchaCaptchaId="Dapper" version="1.50.2" targetFramework="net452" />
  <package captchaCaptchaId="FakeItEasy" version="3.4.0" targetFramework="net452" />
  <package captchaCaptchaId="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package captchaCaptchaId="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package captchaCaptchaId="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net452" />
  <package captchaCaptchaId="Microsoft.Owin" version="3.1.0" targetFramework="net452" />
  <package captchaCaptchaId="Microsoft.Owin.Hosting" version="3.1.0" targetFramework="net452" />
  <package captchaCaptchaId="Microsoft.Owin.Testing" version="3.1.0" targetFramework="net452" />
  <package captchaCaptchaId="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package captchaCaptchaId="NUnit" version="3.7.1" targetFramework="net452" />
  <package captchaCaptchaId="Owin" version="1.0" targetFramework="net452" />
</packages>